In [20]:
import os
import numpy as np
import pandas as pd
import pyprind

In [21]:
np.random.seed(0)

Download data from [here](http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz) and extract the tar file

In [12]:
basepath='aclImdb'

In [9]:
labels = {'pos': 1, 'neg': 0}

In [10]:
pbad = pyprind.ProgBar(50000)

In [11]:
df = pd.DataFrame()

In [13]:
for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        
        path = os.path.join(basepath, s, l)
        
        for file in os.listdir(path):
            with open(os.path.join(path, file),
                         'r', encoding='utf-8') as infile:
                
                txt = infile.read()
                
            df = df.append([[txt, labels[l]]],
                              ignore_index=True)
            
            pbar.update()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:16:52

In [14]:
df.columns = ['review', 'sentiment']

In [19]:
df.head(10)

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1
5  I saw this film on September 1st, 2005 in Indi...          1
6  Maybe I'm reading into this too much, but I wo...          1
7  I felt this film did have many good qualities....          1
8  This movie is amazing because the fact that th...          1
9  "Quitting" may be as much about exiting a pre-...          1

In [23]:
# randomize data frame
df = df.reindex(np.random.permutation(df.index))

In [25]:
df.head(10)

                                                  review  sentiment
11841  In 1974, the teenager Martha Moxley (Maggie Gr...          1
19602  OK... so... I really like Kris Kristofferson a...          0
45519  ***SPOILER*** Do not read this, if you think a...          0
25747  hi for all the people who have seen this wonde...          1
42642  I recently bought the DVD, forgetting just how...          0
31902  Leave it to Braik to put on a good show. Final...          1
30346  Nathan Detroit (Frank Sinatra) is the manager ...          1
12363  To understand "Crash Course" in the right cont...          1
32490  I've been impressed with Chavez's stance again...          1
26128  This movie is directed by Renny Harlin the fin...          1

In [28]:
# save data in a csv format
df.to_csv(os.path.join('data','movie_data.csv'), index=False, encoding='utf-8')